@import "../../assets/styles/utils.scss";

.hello {

  @mixin icon($w, $h) {
    width: $w;
    height: $h;
    display: inline-block;
    background-repeat: no-repeat;
  }

  padding: rem(8px);

  .logo {
    width: rem(400px);
    height: rem(400px);
    background: url('../../assets/images/logo.png') no-repeat;
  }

  .icon-1 {
    background-image: url('../../assets/images/sprite-icons/icon1.gif');
    @include icon(rem(128px), rem(127px));
  }

  .icon-2 {
    background-image: url('../../assets/images/sprite-icons/icon2.gif');
    @include icon(rem(128px), rem(128px));
  }

  .text-warn {
    color: orange;
  }

  p {
    margin-bottom: rem(8px);
  }
}
