<div class="hello">
  <div class="logo"></div>
  <hr/>
  <h2>ICON: </h2>
  <p>
    <span class="icon-1"></span><span class="icon-2"></span>
  </p>
  <hr/>
  <p>msg: <span class="text-warn">{{ msg }}</span></p>
  <div>
    <p>remoteMsg: <span class="text-warn">{{remoteMsg}}</span></p>
    <button v-on:click="getHello">Click to get remote msg</button>
  </div>
  <div>
   <p>jsonpRes: <span class="text-warn">{{jsonpRes}}</span></p>
   <button @click="getJSONPTest">Click to get jsonp res</button>
  </div>
</div>
