.hello {
  color: orange;
  padding: 8px;
  background: url("../../assets/images/sprite-icons/demo1.jpg") no-repeat;

  p {
    margin-bottom: 8px;
    background: url("../../assets/images/demo2.jpg") no-repeat;
  }
}
